@tailwind base;
@tailwind components;
@tailwind utilities;    

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}

.navbar-fixed{
  @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1) 
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45 
}
.hamburger-active > span:nth-child(2) {
  @apply scale-0
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-45
}

#dark-toggle:checked ~ label div.toggle-circle {
  @apply translate-x-3 
}

.toggle-circle {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#dark-toggle:checked + label .toggle-circle {
  transform: translateY(-50%) scale(0.5);
  top: -50%; 
  background-color: #64748b; 
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.button {
  display: inline-block;
  text-decoration: none;
  color: #120817;
  background-color: #515ca6;
  border-radius: 0.25rem;
}

.button:active .txt {
  translate: none;
}

.button .txt {
  display: inherit;
  border-radius: inherit;
  background-color: #f1f1f1;
  padding: 1rem 2rem;
  translate: 0.25rem -0.25rem;
  border: 2px solid #515ca6;
  transition: translate 100ms 
    cubic-bezier(0.175, 0.885, 0.32, 1.275), 
    background-color 250ms;
}

.buttonMe::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: 0;
  translate: calc(100% + 46px) -50%;
  width: 40px;
  height: 40px;
  background: #515ca6;
  border-radius: 50px;
  transition: translate 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2),
    width 0.25s cubic-bezier(0, 0, 0.5, 2);
  }
  .buttonMe:hover::before {
  z-index: -1;
  width: 100%;
  translate: -18px -50%;
  transition: translate 0.25s cubic-bezier(0, 0, 0.5, 2),
  width 0.25s 0.25s cubic-bezier(0, 0, 0.5, 2);
}

.buttonMe i {
  position: relative;
  margin-left: 13px;
  transition: translate 0.25s 0.4s cubic-bezier(0, 0, 0.5, 2);
  color: #f1f1f1;
}
.buttonMe:hover i {
  translate: 3px 0;
}